{% extends "base.html" %}
{% block title %}Password Reset Request - {{ INST_SHORT_NAME }} TAEval{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-96 border p-4">
        <legend class="fieldset-legend">Password Reset Request</legend>
        <form method="POST">
            {% csrf_token %}
            <label class="label">Email</label>
            <input type="email" class="input w-full mb-2" placeholder="Email" name="email" id="email"
                value="{{ form.email.value|default_if_none:'' }}" />

            <button type="submit" class="btn btn-neutral mt-4 w-full">Send Code</button>
        </form>

        {% if show_code %}
        <div class="divider">Verification</div>
        <form method="POST">
            {% csrf_token %}
            <label class="label">Verification Code</label>
            <input type="text" class="input w-full mb-2" placeholder="Verification Code" name="verification_code"
                id="verification_code" />
            <button type="submit" class="btn btn-primary mt-4 w-full">Verify</button>
        </form>
        {% endif %}

        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="link">Back to Login</a>
        </div>
    </fieldset>
</div>
{% endblock %}